.button {
  padding: .8rem 1.5rem;
  background-color: var(--primary);
  outline: none;
  border: none;
  color: var(--text);
  border-radius: 6px;
  cursor: pointer;
}

.button.text {
  background-color: transparent;
  color: var(--secondary);
}

.button.text:hover {
  background-color: #EEEEEE;
}

.button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}