.list-item {
  display: flex;
  align-items: center;
  padding: .8rem 1rem;
  gap: .6rem;
  cursor: pointer;
}

.list-item:not(.active):hover {
  background-color: #EEEEEE;
  border-left: 6px solid var(--primary);
}

.list-item .list-item-icon {
  display: flex;
  align-items: center;
}

.list-item.active { 
  color: var(--text) !important;
  background-color: var(--primary-highlight);
}

.list-item.active:hover {
  border-left: 6px solid var(--primary);
}