.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(5, 5, 6, 0.5);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-modal {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  max-width: 960px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem 2.5rem;
  flex: 1;
}

.wrapper-modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-modal .header h3 {
  font-weight: 500;
}

.wrapper-modal .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem 0;
  gap: .6rem;
}

.content .input {
  display: flex;
  flex-direction: column;
}

.content .input.status {
  align-items: flex-start;
}

.content .errors {
  color: var(--text-error);
  font-size: .75rem;
  padding: 0.5rem 0 0 0;
}

.wrapper-modal .actions {
  display: flex;
  justify-content: flex-end;
  gap: .75rem;
}

.content .wrapper-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.wrapper-avatar-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper-avatar-prod .avatar {
  width: 140px !important;
  height: 140px !important;
}

.wrapper-avatar-prod p {
  margin-top: 1rem;
}