.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-top: 1px solid var(--border);
  padding: 0 1rem;
}

.footer .avatar {
  background-image: url('/assets/wifz-photo.jpeg');
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background-size: cover;
}