.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  height: 65px;
  border: 1px solid var(--border);
  border-left: none;
}

.header .info {
  padding: 0 1.5rem;
}

.header .action {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  padding: 0 1.5rem;
}

.avatar {
  background-image: url('/assets/wifz-photo.jpeg');
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background-size: cover;
}